/* Jorge Pradillo Hinterberger */
#menu {
    display: block;
    width: 100%;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    border: none
}   
   
#menu ul li {
    background-color:rgb(0, 0, 108);
    display: block;
}
      
#menu ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
      
#menu ul li {
    float: left;
    margin: 0;
    padding: 0;
}
      
#menu ul li:hover {
    background: #5b78a7;
}

html {
    font-size: 16px;
}

body {
    background-color: lightgreen;
}

h1 {
    width: auto;
    height: auto; 
    padding: 1em 2em;
    border: 1em solid darkgreen;
    margin: 1em;
    background-color: lightseagreen;
}

p {
    background-color: grey;
    width: auto;
    height: auto; 
    padding: 1em 2em;
    border: 1em solid red;
    margin: 1em;
    border-radius: 13em/1em;
}
 
span {
    color: blue;
    width: 3em;
    height: 3em;
    padding: 2rem;
    margin: 3rem;
    background-color: pink;
}

#pradillo {
    background-color: red;
    color: white;
    padding: 0;
    margin: 0;
}