/* Jorge Pradillo Hinterberger */

.grid-container {
  display: grid;
  grid-template-areas:
    'yo yo yo yo yo yo'
    'menu main main main main derecha'
    'menu footer footer footer footer footer';
  gap: 5px;
  padding: 10px;
  color: white;
}

.grid-container > div {
    background-color: rgb(0, 0, 108);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.yo {
    grid-area: yo;
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;
}

.derecha {
    grid-area: derecha;
}

.footer {
    grid-area: footer;
}

h1 {
    font-size: 80%;
}

img {
    width: 400px;
}

p {
    font-size: 40%;
    text-align: center;
    padding: 20px;
}

#menu {
    color: white;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 80%;
}

#menu ul li a{
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: #428881;
}

#hobbies {
    font-size: 60%;
    text-align: center;
}

ul > p {
    font-size: 2em;
}

li {
    list-style: none;
}

p:last-child {
    font-size: 30px;
}

.presentacion {
    font-size: 20px;
}

pre {
    padding-left: 40px;
    padding-right: 40px;
}

.titulo {
    font-size: 2rem;
}