/* Jorge Pradillo Hinterberger */

*{
    background-color: #baff8f;
}

h1{
    color: #8f5000;
}

.juego {
    width: 600px;
    height: auto;
}

p.titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

code {
    background-color: #8fFFf9;
    color: #000000;
    padding: 3px;
    padding-top: 0%;
    font-family: monospace;
    font-weight: bold;
}