/* Jorge Pradillo Hinterberger */

.grid-container {
    display: grid;
    grid-template-areas:
      'yo yo yo yo yo yo'
      'menu menu menu main main main'
      'footer footer footer footer footer footer';
    gap: 5px;
    padding: 10px;
    color: white;
}
  
.grid-container > div {
    background-color: rgb(0, 0, 108);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
  
.yo {
    grid-area: yo;
}
  
.menu {
    grid-area: menu;
  }
  
.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

h1 {
    font-size: 80%;
}
  
img {
    width: 80%;
}
  
p {
    font-size: 40%;
    text-align: center;
    padding: 20px;
}
  
#menu {
    color: white;
}
  
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 80%;
}
  
#menu ul li a {
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
  
#menu ul li a:hover {
    background-color: #428881;
}
  
#hobbies {
    font-size: 60%;
    text-align: center;
}
  
ul > p {
    font-size: 2em;
}
  
li {
    list-style: none;
}

p{
    padding: 0;
}
.presentacion {
    font-size: 20px;
}
  
pre {
    padding-left: 40px;
    padding-right: 40px;
}

.titulo {
    font-size: 2rem;
    color: aqua;
}

.tipo {
    font-size: 1.5rem;
    color: red;
}

.descripción {
    font-size: 20px;
    color: rgb(255, 195, 122);
}