/* Jorge Pradillo Hinterberger */
#container {
    display: grid;
    grid-template-areas:
    "...        dayL        dayM        dayX        dayJ        dayV"
    "hour8      SIINL       LMSGIM      ENDESX      FOLJ        FOLV"
    "hour9      SIINL       LMSGIM      ENDESX      SIINJ       FOLV"
    "hour10     PROGL       SIINM       LMSGIX      SIINJ       BADAV"
    "hour11     RECREO      RECREO      RECREO      RECREO      RECREO"
    "hour112    PROGLU      SIINMA      LMSGIXI     ENDESJ      BADAVI"
    "hour12     BADAL       PROGM       BADAX       PROGJV      PROGJV"
    "hour13     BADAL       PROGM       BADAX       PROGJV      PROGJV"
    ;
    text-align: center;
}

div {
    border: 1px solid red;
}

.hour {
    background-color: aqua;
}

.hour8 {
    grid-area: hour8;
}

.hour9 {
    grid-area: hour9;
}

.hour10 {
    grid-area: hour10;
}

.hour11 {
    grid-area: hour11;
}

.hour112 {
    grid-area: hour112;
}

.hour12 {
    grid-area: hour12;
}

.hour13 {
    grid-area: hour13;
}

.dayL {
    grid-area: dayL;
}

.dayM {
    grid-area: dayM;
}

.dayX {
    grid-area: dayX;
}

.dayJ {
    grid-area: dayJ;
}

.dayV {
    grid-area: dayV;
}

.siin {
    background-color: #aaffaa;
}

.siinL{
    grid-area: SIINL;
}

.siinM {
    grid-area: SIINM;
}

.siinMA {
    grid-area: SIINMA;
}

.siinJ {
    grid-area: SIINJ;
}

.lmsgi {
    background-color: #aaf5ff;
}

.lmsgiM {
    grid-area: LMSGIM;
}

.lmsgiX {
    grid-area: LMSGIX;
}

.lmsgiXI {
    grid-area: LMSGIXI;
}

.endes {
    background-color: #ff68e3;
}

.endesX {
    grid-area: ENDESX;
}

.endesJ {
    grid-area: ENDESJ;
}

.fol {
    background-color: #ff8000;
}

.folJ {
    grid-area: FOLJ;
}

.folV {
    grid-area: FOLV;
}

.prog {
    background-color: #ff9999;
}

.progL {
    grid-area: PROGL;
}

.progLU {
    grid-area: PROGLU;
}

.progM {
    grid-area: PROGM;
}

.progJV {
    grid-area: PROGJV;
}

.bada {
    background-color: #cc99ff;
}

.badaL {
    grid-area: BADAL;
}

.badaX {
    grid-area: BADAX;
}

.badaV {
    grid-area: BADAV;
}

.badaVI {
    grid-area: BADAVI;
}

.recreo {
    grid-area: RECREO;
    background-color: black;
    color: white;
}