body {
    font-family: Arial, sans-serif;
    margin: 2em;
    padding: 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    grid-template-rows: auto repeat(8, auto);
    gap: 8px;
  }

.hour, .day, .time,
.class, .break, .siin,
.lmsgi, .endes, .fol,
.prog, .bada, .recreo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 8px;
}
  
.hour {
    grid-area: auto;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
  
.day {
    grid-area: auto;
    border: 1px solid #ff0000;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    background-color: #ffcc99;
}
  
.time {
    grid-area: auto;
    border: 1px solid #ff0000;
    padding: 8px;
    text-align: center;
    background-color: #ffcc99;
}
  
.recreo {
    grid-area: auto;
    color: white;
    background-color: #000000; 
}
  
.siin {
    grid-area: auto;
    background-color: #aaffaa;
}
  
.lmsgi {
    grid-area: auto;
    background-color: #aaf5ff;
}
  
.endes {
    grid-area: auto;
    background-color: #ff68e3;
}
  
.fol {
    grid-area: auto;
    background-color: #ff8000;
}
  
.prog {
    grid-area: auto;
    background-color: #ff9999;
}
  
.bada {
    grid-area: auto;
    background-color: #cc99ff;
}
  